.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first{
    background-color: hsl(31, 77%, 52%);
    width: 300px;  
    height: 450px; 
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.second{
    background-color:hsl(184, 100%, 22%);
    width: 300px;  
    height: 450px; 
}
.third{
    background-color:hsl(179, 100%, 13%);
    width: 300px;  
    height: 450px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo-container{
    margin-left: 25px;
    margin-top: 25px;
}

.title{
    margin-top: 50px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.926);
}
.defination{
    color: rgba(255, 255, 255, 0.926);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    line-height: 25px;
    
}
.more{
    margin-top: 70px;
    background-color: #fff;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    border-radius: 30px;
    margin-left: 30px;
    color: hsl(31, 77%, 52%);
}

.second .more{
  color: hsl(184, 100%, 22%);;
}
.third .more{
    color: hsl(179, 100%, 13%);;
}